@media screen and (max-width: 768px) {

	body {
		overflow: unset;
	}

	.mobile {
		display: block;
	}

	.panel {
		position: static;
		padding-left: 0;
		padding-right: 0;
		height: initial;
	}

	.green-text {
			color: var(--green);
	}

	/***** NAVBAR *****/

	.default-header {
		position: fixed;

		& .navbar {
			padding: 0;

			& > .container {
				align-items: center;
			}
		}

		& .navbar-toggler {
			border: none;
			/* transition: all 0.3s ease; */

			&:focus {
					box-shadow: none;
			}

			& .navbar-toggler-icon {
				border-top: solid 3px #02ad78;
				border-bottom: solid 3px #02ad78;
				
				&:before {
						height: 3px;
				}
			}
		}

		& .navbar-toggler:not(.collapsed) {
			padding: 0;
			/* transition: all 0.3s ease; */

			& .navbar-toggler-icon {
				border: solid 3px var(--green);
				border-radius: 50px;
				padding: 14px;
				position: relative;
				
				&:before {
						rotate: 45deg;
						width: 16px;
						position: absolute;
				}
				&:after {
						content: "";
						width: 16px;
						height: 3px;
						background-color: #02ad78;
						display: block;
						rotate: -45deg;
						position: absolute;
				}
			}
		}
	}

	.default-header .navbar-nav {
			background-color: var(--green);
			padding: 80px 20px;
			
			&:before {
				content: "";
				background: url(assets/losango_br.svg) no-repeat center;
				background-size: contain;
				width: 100px;
				aspect-ratio: 1 / 1;
				position: absolute;
				top: 25%;
				right: 0;
				rotate: 180deg;
			}

			&:after {
				content: "";
				background: url(assets/triangulos_br.svg) no-repeat center;
				background-size: contain;
				width: 80px;
				aspect-ratio: 3 / 1;
				position: absolute;
				bottom: 0;
				left: 10%;
			}
	}

	.default-header .navbar-nav .nav-link {
			color: white;
			font-size: 17px;
			font-weight: 600;
			text-align: left;

			&.router-link-active {
					color: white !important;
					font-weight: 700;
			}
	}

	.default-header .navbar-brand {
			background-color: unset;
			justify-content: center;
			height: 80px;

			& .mob-logo {
				display: block;	
			}

			& .dt-logo {
				display: none;
			}
	}

	.default-header .clickables {
		padding-top: 0;

		#mainNav {
			background-color: white;
			height: calc(100vh - 80px);
			position: absolute;
			top: 58px;
			left: 0;
			right: 0;
			width: 100vw;
		}
	}

	.body-glyphs.glyph-bl-corner {
			display: none;
	}

	.glyph-dots {
			&.bottom-dots {
					.home & {
							top: 50%;
							left: 5%;
							animation: fadeIn 3s ease-out;
					}
			}
	}

	/***** HOME *****/

	#home {
		padding-top: 100px;

		& .triangles {
			display: none;
		}

		& .container {

			& > div {
				flex-direction: column-reverse;
				flex-wrap: nowrap;
			}

			& .video-container {
					aspect-ratio: unset;
					width: 107%;

					& .video-frame video {
						aspect-ratio: 16 / 10;
						object-fit: cover;
					}
			}

			& .headlines {
					padding: 0 20px;
					position: relative;
			}
		}

		& .main-title {
				font-weight: 500;
				font-size: 30px;
				line-height: 1.1;
		}

		& .banner-glyph {
        width: 95px;
        height: 80px;
        margin: 0;
        background: url(assets/losango.svg) no-repeat;
        background-size: contain;
        position: absolute;
        right: -12px;
        rotate: 180deg;
    }

		& .subtitle {
        font-family: "vg";
        font-weight: 600;
        font-size: 16px;
        color: #b3b3b3;
        text-transform: uppercase;
        text-align: left;
        width: 55%;
        margin: 12px 0;
    }

		& .headline {
        width: 98%;
        margin: 0;
        color: var(--green);
        font-size: 14px;
        line-height: 1.3;
        text-align: left;

				& br {
					display: none;
				}
    }

		& .wave-glyph {
			display: none;
		}
	}

	/***** QUEM *****/

	#quem, #parcerias, #atuacao {
		padding-top: 80px;
		padding-left: 0;
		padding-right: 0;
		overflow: auto;

		& .container.h-100 {
				height: unset !important;
		}

		& .d-flex.justify-content-around.h-100 {
				flex-direction: column;
				gap: 0;
		}

		& .headlines {
				margin-top: 0;
		}

		& .title-container:after {
				display: none;
		}

		& .banner-glyph_2 {
        width: 70px;
        height: 70px;
        margin: 0 24px;
        background: url(assets/losango.svg) no-repeat;
        background-size: contain;
				rotate: 180deg;
    }

		& .subtitle {
				position: static;
				width: 50%;
				rotate: unset;
				font-size: 28px;
				color: var(--green);
				font-weight: 600;
				text-align: right;
				margin-bottom: 0;
				margin-top: 20px;
		}

		& .mobile.title-container {
				display: flex;
				align-items: center;
				order: 2;
				width: 100% !important;
		}

		& .title-container {
				display: none;
		}

		& .video-container {
				display: none;
		}

		& .mobile.video-container {
				order: 2;
				min-height: unset;
				display: block;
				margin: 24px 0;
		}

		& #quemTabContent {
				order: 3;
		}

		& .nav-tabs {
				order: 1;
				border-top: solid 1px var(--green);
		}

		& .nav-tabs .nav-link {
				font-size: 13px;
				font-weight: 600;
				padding: 10px;
		}

		& .banner-glyph {
				display: none;
		}

		& .headline {
				width: 83%;
				height: unset;
				font-size: 16px;
				line-height: 1.2;
				text-align: left;

				& .green-text {
						display: inline-block;
						margin-bottom: 10px;
				}
		}

		& .body-glyphs {
				display: none;
		}
	}

	/***** PARCEIROS *****/

	#parcerias {

		& .mobile_title-container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 4px;
			margin: 24px 0;
		}

    & .headlines h2 {
        font-size: 28px;
        font-weight: 500;
        text-transform: unset;
    }

    & .banner-glyph {
        display: block;
        height: 50px;
        width: 50px;
				margin: 0;
    }

		& .d-flex.justify-content-around.h-100 {
				height: auto !important;
		}

		& .headline p {
			text-align: left;
			margin-bottom: 10px;
		}

		& .logos-grid {
			margin: 20px auto;
		}
	}

	/***** ATUACAO *****/
	
	#atuacao {
		
		& .d-flex.justify-content-around {
			display: block !important;
		}

		& .mobile.title-container {
			justify-content: center;
			gap: 4px;
			padding: 20px 0 10px;
			border-top: solid 1px var(--green);

			& .subtitle {
				margin: 0;
				font-size: 18px;
				overflow: unset;
			}

			& .banner-glyph_2 {
				flex: 1;
				height: 36px;
				margin: 0;
				rotate: unset;
			}
		}

		& .headlines {
			width: 100%;
			margin-bottom: 40px;

			& .headline {
				& p {
					margin-bottom: 10px;
					text-align: left;
				}
				& ul {
					margin-bottom: 10px;
					padding-left: 16px;
				}
			}
		}

		& .nav-tabs {
			justify-content: flex-start;
			margin-top: 0;
			border: none;

			& .nav-link {
				font-size: 12px;
				padding: 10px 6px;
			}
		}

		& .mobile.video-container {
			width: 96%;
			height: unset;
			margin-top: 8px;
			margin-left: -12px !important;
			aspect-ratio: 4 / 3;

			&:before {
				display: none;
			}

			& .video-frame video {
				aspect-ratio: 16 / 10;
				object-fit: cover;
			}

			&:after {
				top: 14px;
				right: -20px;
				height: 90%;
			}
		}
	}

}