@font-face {
  font-family: vg;
  font-weight: 300;
  src: url('fonts/Vastago\ Grotesk\ Light.otf');
}

@font-face {
  font-family: vg;
  font-weight: normal;
  src: url('fonts/Vastago\ Grotesk\ Regular.otf');
}

@font-face {
  font-family: vg;
  font-weight: 700;
  src: url('fonts/Vastago\ Grotesk\ SemiBold.otf');
}

:root {
  --green: #00AD78;
  --default-transition: all 1s ease-out;
}

.d-flex {
    gap: 60px;
}

.container {
  height: 100%
}

.multi-columns {
  display: inline-block;
  column-count: 2;
  text-align: justify;
}

/* BODY */

body {
  background-color: #fefefe;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

/* GLIFOS */

.body-glyphs {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.glyph-dots {
  width: 30px;
  height: 10px;
  background-image: url(assets/dots.svg);
  transition: var(--default-transition);

  &.top-dots {
    .home & {
      top: 118px;
      right: 8%;
      animation: fadeIn 3s ease-out;
    }

    .quem & {
      display: none
    }

    .parcerias & {
      top: 100px;
      right: 140px;
      animation: fadeIn 3s ease-out;
    }

    .atuacao & {
      display: none;
    }

    .fale & {
      top: 118px;
      right: 8%;
      animation: fadeIn 3s ease-out;
    }
  }

  &.bottom-dots {
    .home & {
      bottom: 5%;
      left: 5%;
      animation: fadeIn 3s ease-out;
    }

    .quem & {
      bottom: 30px;
      right: 30px;
      animation: fadeIn 3s ease;
    }

    .parcerias & {
      bottom: 50px;
      left: 70px;
      animation: fadeIn 3s ease-out;
    }

    .atuacao & {
      bottom: 80px;
      right: 24%;
    }

    .fale & {
      bottom: 80px;
      left: 5%;
      animation: fadeIn 3s ease-out;
    }
  }
}

.glyph-plus {
  width: 24px;
  height: 24px;
  background-image: url(assets/plus.svg);

  .home & {
    top: 144px;
    left: 45%;
    animation: showUpRotate 2s, fadeIn 4s;
  }

  .quem & {
    bottom: 10%;
    left: 14%;
    animation: fadeIn 4s ease;
  }

  .parcerias & {
    bottom: 30px;
    right: 30px;
    animation: showUpRotate 2s ease 2s, fadeIn 4s ease 1s;
  }

  .atuacao & {
    bottom: 50px;
    right: 45%;
    animation: showUpRotate 2s ease 2s, fadeIn 4s ease 1s;
  }

  .fale & {
    bottom: 10px;
    right: 10px;
    animation: showUpRotate 2s ease 2s, fadeIn 4s ease 1s;
  }
}

.glyph-tl-corner {
  width: 30px;
  height: 30px;
  background-color: var(--green);

  .home & {
    top: 0;
    left: 0;
    animation: fadeIn 3s ease-out;
  }

  .quem & {
    bottom: 0;
    left: 0;
    animation: fadeIn 2s ease'
  }

  .atuacao & { display: none }
}

.glyph-tr-corner {
  width: 30px;
  height: 30px;
  background-color: var(--green);

  .home & {
    top: 0;
    right: 0;
    animation: fadeIn 3s ease-out;
  }

  .quem & {
    top: 0;
    right: 0;
    animation: fadeIn 2s ease'
  }

  .parcerias & {
    top: 0;
    right: 0;
    animation: upDown 3s ease;
  }

  .atuacao & { 
    top: 0;
    right: 0;
    animation: right2Left 3s ease-out;
  }

  .fale & {
    top: 0;
    right: 0;
    animation: fadeIn 3s ease-out;
  }
}

.glyph-bl-corner {
  width: 30px;
  height: 50%;
  background-color: var(--green);
  /* transition: all 2s ease; */

  .home & {
    bottom: 0;
    left: 0;
    animation: left2Right 2s ease, fadeIn 4s;
  }

  .quem & {
    display: none;
    top: 0;
    left: 148px;
    width: 80px;
    height: 496px;
    animation: upDown 2s ease, fadeIn 4s;
  }

  .parcerias & {
    bottom: 0;
    animation: downUp 2s ease, fadeIn 4s;
  }

  .atuacao & {
    bottom: -45%;
  }

  .fale & {
    bottom: 0;
    left: 0;
    animation: downUp 1s ease, fadeIn 4s;
  }
}

.triangles {
  width: 100px;
  height: 22px;
  background: url(assets/triangulos.svg) no-repeat;
  background-size: contain;
  transition: all 2s ease-out;

  .home & {
    bottom: 0;
    left: 40%;
    animation: downUp 1s ease;
  }

  .quem & {
    bottom: 0;
    left: 30%;
  }

  .parcerias & {
    bottom: 0;
    left: 50%;
  }

  .atuacao & {
    bottom: 0;
    left: 90%;
  }

  .fale & {
    bottom: 0;
    left: 60%;
  }
}

/* HEADER */

.default-header {
    position: fixed;
    width: 100%;
    z-index: 1000;

    .navbar {
      padding: 0 40px;
    }

    .navbar-nav {
      font-family: vg;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      animation: fadeIn 2s, swipeRight 2s ease;
    }

    .navbar-brand {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 110px;
      height: 128px;
      padding: 10px;
      background-color: var(--green);
      animation: upDown 2s ease;

      & img {
        animation: fadeIn 8s ease;
      }
    }

    & a.nav-link {
      padding-left: 20px !important;
      padding-right: 20px !important;
      color: #999;
      font-size: 22px;
      text-transform: uppercase;

      &.active {
        color: var(--green) !important;
      }
    }

    .top-social {
      display: flex;
      gap: 16px;

      .fa-facebook,
      .fa-instagram,
      .fa-whatsapp {
        display: block;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

      .fa-facebook { 
        background-image: url(assets/facebook.svg);
        animation: popUp 2s ease; 
      }
      .fa-instagram { 
        background-image: url(assets/instagram.svg);
        background-size: 60%;
      }
      .fa-whatsapp { 
        background-image: url(assets/wazapp.svg);
        background-size: 60%;
      }
      
      & > a {
        display: inline-block;
        background-color: var(--green);
        width: 32px;
        height: 32px;
        border-radius: 50px;

        &:first-child { animation: popUp 2s ease; }

        &:nth-child(2) { animation: fadeIn 4s, popUp 2s ease; }
        
        &:last-child { 
          animation: fadeIn 6s, popUp 2s ease; 
        }
      }
    }
}

.secondary-header {
  display: none;
  position: fixed;
  width: 100%;
  height: 43px;
  margin: 0;
  z-index: 1000;

  .nav > .container-fluid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .navbar-brand {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 90px;
      margin-top: 40px;
      margin-left: -40px;
      animation: fadeIn 1s ease;
  }

  .back-btn {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      padding: 8px 16px;
      background-color: #ABA9A9;
      border: none;
      color: white;
      font-family: 'vg';
      font-size: 18px;

      .quem & {
        left: 51%;
        animation: upDown 1s ease-out;
      }

      .atuacao & {
        left: 70%;
        animation: upDown 1s ease-out;
      }
  }

}

#body:not(.home):not(.parcerias):not(.fale) {
  .default-header {
    transition: all 1s ease-in;
    transform: translateY(-100%);

    .navbar-brand {
      visibility: hidden 
    }
  }
  .secondary-header {
    display: block;
  }
}

/* TABS */

.nav-tabs {
  flex-wrap: nowrap;
  justify-content: center;
  border: none;
  overflow: hidden;

  .atuacao & {
    margin-top: 60px;
  }

  .nav-item {
    transition: all 1s ease;

    .atuacao & { animation: downUp 2s ease }
  }

  .nav-link {
    border: none;
    font-family: 'vg';
    font-weight: 300;
    font-size: 17px;
    color: #ABA9A9;
    text-transform: uppercase;

    &.active {
      background-color: transparent;
      color: var(--green);
    }
  }
}

/* SECTIONS */

.panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    height: 100vh;
    padding: 128px 50px 40px;
    overflow: hidden;
    transition: all 1s ease;

    &.visible {
      display: block;
    }
}

#home {

  .headlines {
    width: 50%;
    text-align: center;
    animation: fadeIn 4s ease;
  }

  .main-title {
    margin: 0 auto;
    color: var(--green);
    font-size: 50px;
    font-weight: bold;
    overflow: hidden;

    .enter-title {
      animation: left2Right 2s ease;
    }
  }

  .subtitle {
    font-family: 'vg';
    font-weight: 600;
    font-size: 23px;
    color: var(--green);
    text-transform: uppercase;
  }

  .headline {
    width: 90%;
    margin: 0 auto;
    color: #999;
    font-size: 20px;
    line-height: 1.3;
  }

  .banner-glyph {
    width: 38px;
    height: 32px;
    margin: 24px auto;
    background: url(assets/losango.svg) no-repeat;
    background-size: contain;
  }

  .wave-glyph {
    width: 50px;
    height: 10px;
    margin: 24px auto;
    background: url(assets/wavy.svg) no-repeat;
    background-size: contain;
  }

  .video-container {
    flex-grow: 0;
    width: 50%;
    height: 80%;
    animation: fadeIn 3s ease-out;
  }

  div > video {
    width: 100%;
    padding: 16px;
  }

  .video-frame {
    position: relative;
    height: 100%;

    &:before, &:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 86%;
      display: block;
      background-color: var(--green);
      z-index: -1;
    }  

    &:before {
      top: 0;
      left: 0;
      animation: right2Left 2s;
    }

    &:after {
      bottom: 0;
      right: 0;
      animation: left2Right 2s;
    }
  }
}

#quem {
  padding-top: 40px;
  transition: all 2s ease;

  .headlines {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 16px;
    margin-right: 90px;
    text-align: center;
    transition: all 1s ease;
    animation: fadeIn 2s ease;
  }

  #quemTabContent {
    flex: 0 1 30%;
  }

  .title-container {
    position: relative;
    width: 220px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -40px;
      left: 71px;
      width: 80px;
      height: 490px;
      background-color: var(--green);
    }
  }

  .subtitle {
      position: absolute;
      top: 260px;
      left: -124px;
      width: 305px;
      margin: 0;
      color: #ABA9A9;
      font-family: 'vg';
      font-weight: 300;
      font-size: 44px;
      line-height: 1.2;
      text-transform: uppercase;
      overflow: hidden;
      rotate: -90deg;

      & > div {
        animation: left2Right 2s ease
      }
  }

  .banner-glyph {
    width: 38px;
    height: 32px;
    margin: 16px auto;
    background: url(assets/losango.svg) no-repeat;
    background-size: contain;
  }

  .headline {
    width: 600px;
    height: 208px;
    margin: 0 auto;
    color: #999;
    font-size: 20px;
    line-height: 1.3;

    &.mission-variant {
      width: 100%;
      font-size: 18px;

      & p {
        margin-bottom: 8px;
      }

      & ul {
        margin-bottom: 0;
        padding-left: 24px;
        font-size: 16px;

        & li {
          margin-bottom: 8px;
        }
      }
    }
  }

  .video-container {
    margin: 16px auto 0;
    width: 704px;
    height: 270px;
    transition: all 2s ease;

    .atuacao & { animation: fadeIn 2s ease }
  }

  div > img {
    width: 100%;
    padding: 0 16px;
  }

  .video-frame {
    position: relative;
    height: 100%;

    .video-player {
      width: 100%;
      height: 100%;
    }

    .atuacao & {
      &:before {
        animation: right2Left 2s ease;
      }
    }

    .atuacao & {
      &:after {
        animation: left2Right 2s ease;
      }
    }

    &:before, &:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 86%;
      display: block;
      background-color: var(--green);
      z-index: -1;
    }  

    &:before {
      top: 0;
      left: 0;
      height: 70%;
    }

    &:after {
      top: 50%;
      right: 0;
      height: 24px;
    }
  }

}

#parcerias {
  padding-top: 130px;
  padding-left: 140px;
  transition: all 2s ease;

  .headlines {
    width: 40%;
    text-align: center;
    transition: all 1s ease;
    animation: fadeIn 2s ease;

    & h2 {
      color: var(--green);
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
    }
  }

  .banner-glyph {
    width: 38px;
    height: 32px;
    margin: 10px auto;
    background: url(assets/losango.svg) no-repeat;
    background-size: contain;
  }

  .headline {
    width: 400px;
    margin: 0 auto;
    color: #999;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;

    & p {
      margin-bottom: 8px;
    }
  }

  .logos-grid {
    width: 60%;
    padding: 30px;

    .d-grid-6 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 24px;

      .logo-container {
        background-color: lightgrey;
        border-radius: 50px;
        width: 70px;
        height: 70px;
      }
    }
  }

}

#atuacao {
  padding: 0 50px;
  transition: all 2s ease;

  .headlines {
    width: 50%;
    text-align: center;
    transition: all 1s ease;

    .atuacao & { animation: fadeIn 2s ease }
  }

  .title-container {
    position: relative;
    width: 60px !important;
  }

  .subtitle {
    margin-top: 316px;
    margin-left: -94px;
    width: 305px;
    color: #ABA9A9;
    font-family: 'vg';
    font-weight: 300;
    font-size: 44px;
    line-height: 1.2;
    text-transform: uppercase;
    overflow: hidden;
    rotate: -90deg;

    & > div {
      transition: all 1s ease;

      .atuacao & { animation: left2Right 2s ease }
    }
  }

  .banner-glyph {
    width: 38px;
    height: 32px;
    margin: 40px auto;
    background: url(assets/losango.svg) no-repeat;
    background-size: contain;
  }

  .headline {
    width: 100%;
    margin: 0 auto;
    color: #999;
    font-size: 20px;
    line-height: 1.3;

    &.text-justify {
      text-align: justify;
    }

    & p, ul, li {
      margin-bottom: 8px;
    }
  }

  .video-container {
    flex-grow: 0;
    aspect-ratio: 2 / 3.23;
    height: 100vh;
    background-color: white;
    transition: all 4s ease;

    .atuacao & { animation: fadeIn 2s ease }
  }

  div > img {
    width: 100%;
    padding: 0 16px;
  }

  .video-frame {
    position: relative;
    height: 100%;

    .video-player {
      width: 100%;
      height: 100%;
    }

    .atuacao & {
      &:before {
        animation: right2Left 2s ease;
      }
    }

    .atuacao & {
      &:after {
        animation: left2Right 2s ease;
      }
    }

    &:before, &:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 86%;
      display: block;
      background-color: var(--green);
      z-index: -1;
    }  

    &:before {
      top: 0;
      left: -24px;
      height: 500px;
    }

    &:after {
      top: 50%;
      right: -24px;
      height: 24px;
    }
  }

}

#fale {
  padding-left: 0;
  padding-right: 0;

  .img-container {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 26%;
    height: calc(100vh - 128px);
    background: url(assets/faleconosco.png) no-repeat;
    background-size: contain;

    @media screen and (min-width:1440px) {
      left: 14%;
    }
  }

  & h2 {
    position: relative;
    width: 216px;
    margin: 0 auto 24px;
    color: white;
    font-weight: bold;
    text-align: center;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      right: -40px;
      width: 27px;
      height: 22px;
      background: url(assets/losango_br.svg) no-repeat center;
      background-size: contain;
    }
  }

  .form-container {
    width: calc(100% - 392px);
    height: 470px;
    padding: 20px 114px;
    background: url(assets/bg_fale.png) no-repeat left center;

    @media screen and (min-width: 1440px) {
      width: calc(100% - 610px);
      padding: 20px 200px;
    }
  }

  .form-label {
      line-height: 1;
      margin-bottom: 5px;
      color: white;
  }

  .form-control {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 0;
      border-width: 2px;
  }

  button.btn {
      text-transform: uppercase;
      border-radius: 0;
      width: 120px;
  }

  .contacts {
    margin-top: 40px;
  }

  .contact {
    border-left: solid 4px white;
    padding: 0 12px;
    text-transform: uppercase;
    color: white;
  }
}